<style>
    .hide {
        position: absolute;
        top: -1px;
        left: -1px;
        width: 1px;
        height: 1px;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<iframe name="hiddenFrame" class="hide"></iframe>
<table>
    <tr th:each="person:${users}">
        <td th:text="${person.username}"></td>
        <td th:text="${person.role.getName()}"></td>
        <div th:if="${isAdmin}">
            <td> Типа имейл</td>
            <td>
                <!--                target вовзращает на скрытый фрейм, это позволяет не делать переход на другую страницу-->
                <form th:action="@{/users/edit/{id}(id=${person.id})}" method="post" target="_self">
                    <label>
                        <select name="selectedRole">
                            <option th:each="role:${roles}" th:text="${role.getName()}"
                                    th:value="${role.getName()}"></option>
                        </select>
                    </label>
                    <input type="submit" value="Update"/>
                </form>
            </td>
            <td>
                <form th:action="@{/users/edit/{id}(id=${person.id})}" method="get">
                    <input type="submit" value="Edit">
                </form>
            </td>
        </div>
    </tr>
</table>
</body>
</html>