<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Домашний экран
<div th:if="${isAuthenticated}">
    <form action="/users">
        <input type="submit" value="Список пользователей">
    </form>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти">
    </form>
</div>
<div th:if="${!isAuthenticated}">
    <form action="/login">
        <input type="submit" value="Войти">
    </form>
    <form action="/registration">
        <input type="submit" value="Регистрация">
    </form>
</div>
</body>
</html>